In [9]:
import QuantLib as ql
import quandl
import datetime
import pandas as pd
import numpy as np

In [10]:
n = range(1,22) # first 21 (most liquid) rolling Eurodollar futures

token = '7Fe845GwTuAehy2o1guA'
nms = ["CHRIS/CME_ED"+str(i) for i in n]
dfs = [quandl.get(nm, authtoken=token) for nm in nms]

In [19]:
# put all settle price into one dataframe
settle_price = dfs[0]['Settle']
for i in range(1,21):
    settle1_price = dfs[i]['Settle']
    settle_price = pd.concat([settle_price,settle1_price], axis=1)
settle_price.columns = ['ED'+str(i) for i in n]
settle_price = settle_price.dropna()
settle_price.head(10)

,ED1,ED2,ED3,ED4,ED5,ED6,ED7,ED8,ED9,ED10,...,ED12,ED13,ED14,ED15,ED16,ED17,ED18,ED19,ED20,ED21
Date,,,,,,,,,,,,,,,,,,,,,
1993-09-14,96.47,96.41,96.20,95.94,95.57,95.50,95.30,95.13,94.85,94.81,...,94.55,94.32,94.33,94.21,94.14,93.95,93.98,93.91,93.88,93.72
1993-09-15,96.52,96.47,96.26,96.00,95.63,95.56,95.35,95.17,94.88,94.84,...,94.58,94.34,94.34,94.22,94.15,93.96,93.99,93.92,93.89,93.73
1993-09-16,96.51,96.46,96.24,95.99,95.63,95.56,95.35,95.17,94.88,94.84,...,94.57,94.33,94.33,94.21,94.14,93.94,93.97,93.90,93.87,93.70
1993-09-17,96.51,96.45,96.22,95.97,95.61,95.54,95.33,95.16,94.87,94.83,...,94.56,94.32,94.32,94.20,94.13,93.93,93.96,93.89,93.86,93.69
1993-09-20,96.51,96.44,96.20,95.94,95.57,95.50,95.30,95.14,94.85,94.81,...,94.54,94.30,94.30,94.18,94.11,93.91,93.94,93.87,93.83,93.66
1993-09-21,96.53,96.45,96.22,95.96,95.59,95.52,95.32,95.15,94.85,94.81,...,94.53,94.29,94.29,94.17,94.10,93.89,93.92,93.84,93.80,93.63
1993-09-22,96.53,96.46,96.23,95.98,95.61,95.54,95.34,95.17,94.87,94.83,...,94.54,94.29,94.29,94.17,94.09,93.87,93.90,93.82,93.77,93.60
1993-09-23,96.52,96.44,96.22,95.98,95.61,95.54,95.34,95.17,94.87,94.83,...,94.54,94.28,94.28,94.16,94.08,93.86,93.89,93.81,93.76,93.59
1993-09-24,96.52,96.46,96.25,96.02,95.65,95.58,95.38,95.21,94.91,94.87,...,94.56,94.29,94.28,94.16,94.08,93.86,93.89,93.81,93.76,93.59
1993-09-27,96.56,96.56,96.38,96.15,95.78,95.70,95.50,95.33,95.03,94.99,...,94.68,94.40,94.38,94.25,94.16,93.94,93.97,93.88,93.83,93.66

In [21]:
settle = pd.DataFrame()
for i in range(21):
    settle['ED'+str(1+i)] = 100- settle_price.iloc[:,i]
settle.head(10)

,ED1,ED2,ED3,ED4,ED5,ED6,ED7,ED8,ED9,ED10,...,ED12,ED13,ED14,ED15,ED16,ED17,ED18,ED19,ED20,ED21
Date,,,,,,,,,,,,,,,,,,,,,
1993-09-14,3.53,3.59,3.80,4.06,4.43,4.50,4.70,4.87,5.15,5.19,...,5.45,5.68,5.67,5.79,5.86,6.05,6.02,6.09,6.12,6.28
1993-09-15,3.48,3.53,3.74,4.00,4.37,4.44,4.65,4.83,5.12,5.16,...,5.42,5.66,5.66,5.78,5.85,6.04,6.01,6.08,6.11,6.27
1993-09-16,3.49,3.54,3.76,4.01,4.37,4.44,4.65,4.83,5.12,5.16,...,5.43,5.67,5.67,5.79,5.86,6.06,6.03,6.10,6.13,6.30
1993-09-17,3.49,3.55,3.78,4.03,4.39,4.46,4.67,4.84,5.13,5.17,...,5.44,5.68,5.68,5.80,5.87,6.07,6.04,6.11,6.14,6.31
1993-09-20,3.49,3.56,3.80,4.06,4.43,4.50,4.70,4.86,5.15,5.19,...,5.46,5.70,5.70,5.82,5.89,6.09,6.06,6.13,6.17,6.34
1993-09-21,3.47,3.55,3.78,4.04,4.41,4.48,4.68,4.85,5.15,5.19,...,5.47,5.71,5.71,5.83,5.90,6.11,6.08,6.16,6.20,6.37
1993-09-22,3.47,3.54,3.77,4.02,4.39,4.46,4.66,4.83,5.13,5.17,...,5.46,5.71,5.71,5.83,5.91,6.13,6.10,6.18,6.23,6.40
1993-09-23,3.48,3.56,3.78,4.02,4.39,4.46,4.66,4.83,5.13,5.17,...,5.46,5.72,5.72,5.84,5.92,6.14,6.11,6.19,6.24,6.41
1993-09-24,3.48,3.54,3.75,3.98,4.35,4.42,4.62,4.79,5.09,5.13,...,5.44,5.71,5.72,5.84,5.92,6.14,6.11,6.19,6.24,6.41
1993-09-27,3.44,3.44,3.62,3.85,4.22,4.30,4.50,4.67,4.97,5.01,...,5.32,5.60,5.62,5.75,5.84,6.06,6.03,6.12,6.17,6.34

In [60]:
# IMM matrix
imm = pd.DataFrame(index=settle.index, columns=settle.columns)
ql_imm = ql.IMM()

for i in range(len(settle.index)):
    y = settle.index[i].year
    m = settle.index[i].month
    d = settle.index[i].day
    d1 = ql.Date(d,m,y)
    for j in range(len(settle.columns)):
        imm.iloc[i,j] = ql_imm.nextDate(d1)
        d1 = ql_imm.nextDate(d1)

# convert Quantlib Date to Datetime
for i in range(imm.shape[0]):
    for j in range(imm.shape[1]):
        imm.iloc[i,j] = datetime.datetime(imm.iloc[i,j].year(), imm.iloc[i,j].month(), imm.iloc[i,j].dayOfMonth())

imm.head(10)

,ED1,ED2,ED3,ED4,ED5,ED6,ED7,ED8,ED9,ED10,...,ED12,ED13,ED14,ED15,ED16,ED17,ED18,ED19,ED20,ED21
Date,,,,,,,,,,,,,,,,,,,,,
1993-09-14,1993-09-15 00:00:00,1993-12-15 00:00:00,1994-03-16 00:00:00,1994-06-15 00:00:00,1994-09-21 00:00:00,1994-12-21 00:00:00,1995-03-15 00:00:00,1995-06-21 00:00:00,1995-09-20 00:00:00,1995-12-20 00:00:00,...,1996-06-19 00:00:00,1996-09-18 00:00:00,1996-12-18 00:00:00,1997-03-19 00:00:00,1997-06-18 00:00:00,1997-09-17 00:00:00,1997-12-17 00:00:00,1998-03-18 00:00:00,1998-06-17 00:00:00,1998-09-16 00:00:00
1993-09-15,1993-12-15 00:00:00,1994-03-16 00:00:00,1994-06-15 00:00:00,1994-09-21 00:00:00,1994-12-21 00:00:00,1995-03-15 00:00:00,1995-06-21 00:00:00,1995-09-20 00:00:00,1995-12-20 00:00:00,1996-03-20 00:00:00,...,1996-09-18 00:00:00,1996-12-18 00:00:00,1997-03-19 00:00:00,1997-06-18 00:00:00,1997-09-17 00:00:00,1997-12-17 00:00:00,1998-03-18 00:00:00,1998-06-17 00:00:00,1998-09-16 00:00:00,1998-12-16 00:00:00
1993-09-16,1993-12-15 00:00:00,1994-03-16 00:00:00,1994-06-15 00:00:00,1994-09-21 00:00:00,1994-12-21 00:00:00,1995-03-15 00:00:00,1995-06-21 00:00:00,1995-09-20 00:00:00,1995-12-20 00:00:00,1996-03-20 00:00:00,...,1996-09-18 00:00:00,1996-12-18 00:00:00,1997-03-19 00:00:00,1997-06-18 00:00:00,1997-09-17 00:00:00,1997-12-17 00:00:00,1998-03-18 00:00:00,1998-06-17 00:00:00,1998-09-16 00:00:00,1998-12-16 00:00:00
1993-09-17,1993-12-15 00:00:00,1994-03-16 00:00:00,1994-06-15 00:00:00,1994-09-21 00:00:00,1994-12-21 00:00:00,1995-03-15 00:00:00,1995-06-21 00:00:00,1995-09-20 00:00:00,1995-12-20 00:00:00,1996-03-20 00:00:00,...,1996-09-18 00:00:00,1996-12-18 00:00:00,1997-03-19 00:00:00,1997-06-18 00:00:00,1997-09-17 00:00:00,1997-12-17 00:00:00,1998-03-18 00:00:00,1998-06-17 00:00:00,1998-09-16 00:00:00,1998-12-16 00:00:00
1993-09-20,1993-12-15 00:00:00,1994-03-16 00:00:00,1994-06-15 00:00:00,1994-09-21 00:00:00,1994-12-21 00:00:00,1995-03-15 00:00:00,1995-06-21 00:00:00,1995-09-20 00:00:00,1995-12-20 00:00:00,1996-03-20 00:00:00,...,1996-09-18 00:00:00,1996-12-18 00:00:00,1997-03-19 00:00:00,1997-06-18 00:00:00,1997-09-17 00:00:00,1997-12-17 00:00:00,1998-03-18 00:00:00,1998-06-17 00:00:00,1998-09-16 00:00:00,1998-12-16 00:00:00
1993-09-21,1993-12-15 00:00:00,1994-03-16 00:00:00,1994-06-15 00:00:00,1994-09-21 00:00:00,1994-12-21 00:00:00,1995-03-15 00:00:00,1995-06-21 00:00:00,1995-09-20 00:00:00,1995-12-20 00:00:00,1996-03-20 00:00:00,...,1996-09-18 00:00:00,1996-12-18 00:00:00,1997-03-19 00:00:00,1997-06-18 00:00:00,1997-09-17 00:00:00,1997-12-17 00:00:00,1998-03-18 00:00:00,1998-06-17 00:00:00,1998-09-16 00:00:00,1998-12-16 00:00:00
1993-09-22,1993-12-15 00:00:00,1994-03-16 00:00:00,1994-06-15 00:00:00,1994-09-21 00:00:00,1994-12-21 00:00:00,1995-03-15 00:00:00,1995-06-21 00:00:00,1995-09-20 00:00:00,1995-12-20 00:00:00,1996-03-20 00:00:00,...,1996-09-18 00:00:00,1996-12-18 00:00:00,1997-03-19 00:00:00,1997-06-18 00:00:00,1997-09-17 00:00:00,1997-12-17 00:00:00,1998-03-18 00:00:00,1998-06-17 00:00:00,1998-09-16 00:00:00,1998-12-16 00:00:00
1993-09-23,1993-12-15 00:00:00,1994-03-16 00:00:00,1994-06-15 00:00:00,1994-09-21 00:00:00,1994-12-21 00:00:00,1995-03-15 00:00:00,1995-06-21 00:00:00,1995-09-20 00:00:00,1995-12-20 00:00:00,1996-03-20 00:00:00,...,1996-09-18 00:00:00,1996-12-18 00:00:00,1997-03-19 00:00:00,1997-06-18 00:00:00,1997-09-17 00:00:00,1997-12-17 00:00:00,1998-03-18 00:00:00,1998-06-17 00:00:00,1998-09-16 00:00:00,1998-12-16 00:00:00
1993-09-24,1993-12-15 00:00:00,1994-03-16 00:00:00,1994-06-15 00:00:00,1994-09-21 00:00:00,1994-12-21 00:00:00,1995-03-15 00:00:00,1995-06-21 00:00:00,1995-09-20 00:00:00,1995-12-20 00:00:00,1996-03-20 00:00:00,...,1996-09-18 00:00:00,1996-12-18 00:00:00,1997-03-19 00:00:00,1997-06-18 00:00:00,1997-09-17 00:00:00,1997-12-17 00:00:00,1998-03-18 00:00:00,1998-06-17 00:00:00,1998-09-16 00:00:00,1998-12-16 00:00:00
1993-09-27,1993-12-15 00:00:00,1994-03-16 00:00:00,1994-06-15 00:00:00,1994-09-21 00:00:00,1994-12-21 00:00:00,1995-03-15 00:00:00,1995-06-21 00:00:00,1995-09-20 00:00:00,1995-12-20 00:00:00,1996-03-20 00:00:00,...,1996-09-18 00:00:00,1996-12-18 00:00:00,1997-03-19 00:00:00,1997-06-18 00:00:00,1997-09-17 00:00:00,1997-12-17 00:00:00,1998-03-18 00:00:00,1998-06-17 00:00:00,1998-09-16 00:00:00,1998-12-16 00:00:00

In [61]:
# calculate actual/constant time to maturity, interpolated yields
actual = pd.DataFrame(columns = imm.columns, index = imm.index) # actual time to maturity
constant = actual  # constant time to maturity
yields = actual # linearly interpolated yields

In [72]:
# actual time to maturity
actual = pd.DataFrame(columns = imm.columns, index = imm.index)

for i in range(actual.shape[0]):
    for j in range(actual.shape[1]):
        actual.iloc[i,j] = (imm.iloc[i,j] - imm.index[i]).days

actual.head()

,ED1,ED2,ED3,ED4,ED5,ED6,ED7,ED8,ED9,ED10,...,ED12,ED13,ED14,ED15,ED16,ED17,ED18,ED19,ED20,ED21
Date,,,,,,,,,,,,,,,,,,,,,
1993-09-14,1,92,183,274,372,463,547,645,736,827,...,1009,1100,1191,1282,1373,1464,1555,1646,1737,1828
1993-09-15,91,182,273,371,462,546,644,735,826,917,...,1099,1190,1281,1372,1463,1554,1645,1736,1827,1918
1993-09-16,90,181,272,370,461,545,643,734,825,916,...,1098,1189,1280,1371,1462,1553,1644,1735,1826,1917
1993-09-17,89,180,271,369,460,544,642,733,824,915,...,1097,1188,1279,1370,1461,1552,1643,1734,1825,1916
1993-09-20,86,177,268,366,457,541,639,730,821,912,...,1094,1185,1276,1367,1458,1549,1640,1731,1822,1913

In [73]:
# constant time to maturity
constant = pd.DataFrame(columns = imm.columns, index = imm.index)

for i in range(constant.shape[0]):
    for j in range(constant.shape[1]):
        y = constant.index[i].year
        m = constant.index[i].month
        d = constant.index[i].day
        y_add = (m+3*(j+1))/12
        m_new = (m+3*(j+1))%12
        if m_new == 0:
            y_add = y_add -1
            m_new = 12
        y_add = int(y_add // 1) # get the int before decimal
        try: 
            constant.iloc[i,j] =datetime.datetime(y+y_add, m_new, d) - constant.index[i]
        except ValueError:
            try:
                constant.iloc[i,j] = datetime.datetime(y+y_add, m_new, d-1) - constant.index[i]
            except ValueError:
                try:
                    constant.iloc[i,j] = datetime.datetime(y+y_add, m_new, d-2) - constant.index[i]
                except ValueError:
                    try:
                        constant.iloc[i,j] = datetime.datetime(y+y_add, m_new, d-3) - constant.index[i]
                    except ValueError:
                        constant.iloc[i,j] = datetime.datetime(y+y_add, m_new, d-4) - constant.index[i]  #2/27/2004

constant = constant.applymap(lambda x: x.days)
constant.head()

,ED1,ED2,ED3,ED4,ED5,ED6,ED7,ED8,ED9,ED10,...,ED12,ED13,ED14,ED15,ED16,ED17,ED18,ED19,ED20,ED21
Date,,,,,,,,,,,,,,,,,,,,,
1993-09-14,91,181,273,365,456,546,638,730,821,912,...,1096,1187,1277,1369,1461,1552,1642,1734,1826,1917
1993-09-15,91,181,273,365,456,546,638,730,821,912,...,1096,1187,1277,1369,1461,1552,1642,1734,1826,1917
1993-09-16,91,181,273,365,456,546,638,730,821,912,...,1096,1187,1277,1369,1461,1552,1642,1734,1826,1917
1993-09-17,91,181,273,365,456,546,638,730,821,912,...,1096,1187,1277,1369,1461,1552,1642,1734,1826,1917
1993-09-20,91,181,273,365,456,546,638,730,821,912,...,1096,1187,1277,1369,1461,1552,1642,1734,1826,1917

In [83]:
# linearly interpolated yields
yields = pd.DataFrame(columns = imm.columns, index = imm.index)

for i in range(yields.shape[0]):
    for j in range(yields.shape[1]): # perform linear interpolation
        yields.iloc[i,j] = np.interp(constant.iloc[i,j], list(actual.iloc[i,:]), list(settle.iloc[i,:]))

yields.head()

,ED1,ED2,ED3,ED4,ED5,ED6,ED7,ED8,ED9,ED10,...,ED12,ED13,ED14,ED15,ED16,ED17,ED18,ED19,ED20,ED21
Date,,,,,,,,,,,,,,,,,,,,,
1993-09-14,3.58934,3.79538,4.05714,4.40357,4.49462,4.69762,4.85786,5.13154,5.18736,5.33011,...,5.66989,5.67044,5.78341,5.85692,6.04374,6.02099,6.08692,6.11901,6.27648,6.28
1993-09-15,3.48,3.52945,3.74,3.98408,4.3456,4.44,4.63714,4.82011,5.10407,5.1578,...,5.41637,5.65209,5.66,5.77604,5.84846,6.03582,6.01099,6.07846,6.10967,6.26824
1993-09-16,3.49055,3.54,3.76255,3.99724,4.35022,4.44214,4.63929,4.82209,5.10725,5.15824,...,5.42758,5.66473,5.67,5.78736,5.85923,6.0578,6.03066,6.09923,6.13,6.3
1993-09-17,3.49132,3.55253,3.7851,4.0198,4.37418,4.46429,4.66143,4.8344,5.12044,5.16868,...,5.43879,5.67736,5.68,5.79868,5.87,6.07,6.04033,6.11,6.14187,6.31
1993-09-20,3.49385,3.57055,3.81327,4.05735,4.42593,4.5102,4.69796,4.86,5.15,5.19,...,5.46527,5.7,5.70132,5.82154,5.89659,6.08901,6.06154,6.13132,6.17747,6.34

In [85]:
# display actual/constant time to maturity & interpolated yields
print ('actual time to maturity: \n')
print (actual.head())
print ('=========================================')
print ('constant time to maturity: \n')
print (constant.head())
print ('=========================================')
print ('interpolated: \n')
print (yields.head())

actual time to maturity:

           ED1  ED2  ED3  ED4  ED5  ED6  ED7  ED8  ED9 ED10  ...   ED12  ED13  \
Date                                                         ...
1993-09-14   1   92  183  274  372  463  547  645  736  827  ...   1009  1100
1993-09-15  91  182  273  371  462  546  644  735  826  917  ...   1099  1190
1993-09-16  90  181  272  370  461  545  643  734  825  916  ...   1098  1189
1993-09-17  89  180  271  369  460  544  642  733  824  915  ...   1097  1188
1993-09-20  86  177  268  366  457  541  639  730  821  912  ...   1094  1185

            ED14  ED15  ED16  ED17  ED18  ED19  ED20  ED21
Date
1993-09-14  1191  1282  1373  1464  1555  1646  1737  1828
1993-09-15  1281  1372  1463  1554  1645  1736  1827  1918
1993-09-16  1280  1371  1462  1553  1644  1735  1826  1917
1993-09-17  1279  1370  1461  1552  1643  1734  1825  1916
1993-09-20  1276  1367  1458  1549  1640  1731  1822  1913

[5 rows x 21 columns]
=========================================
constant time to maturity:

            ED1  ED2  ED3  ED4  ED5  ED6  ED7  ED8  ED9  ED10  ...   ED12  \
Date                                                           ...
1993-09-14   91  181  273  365  456  546  638  730  821   912  ...   1096
1993-09-15   91  181  273  365  456  546  638  730  821   912  ...   1096
1993-09-16   91  181  273  365  456  546  638  730  821   912  ...   1096
1993-09-17   91  181  273  365  456  546  638  730  821   912  ...   1096
1993-09-20   91  181  273  365  456  546  638  730  821   912  ...   1096

            ED13  ED14  ED15  ED16  ED17  ED18  ED19  ED20  ED21
Date
1993-09-14  1187  1277  1369  1461  1552  1642  1734  1826  1917
1993-09-15  1187  1277  1369  1461  1552  1642  1734  1826  1917
1993-09-16  1187  1277  1369  1461  1552  1642  1734  1826  1917
1993-09-17  1187  1277  1369  1461  1552  1642  1734  1826  1917
1993-09-20  1187  1277  1369  1461  1552  1642  1734  1826  1917

[5 rows x 21 columns]
=========================================
interpolated:

                ED1      ED2      ED3      ED4      ED5      ED6      ED7  \
Date
1993-09-14  3.58934  3.79538  4.05714  4.40357  4.49462  4.69762  4.85786
1993-09-15     3.48  3.52945     3.74  3.98408   4.3456     4.44  4.63714
1993-09-16  3.49055     3.54  3.76255  3.99724  4.35022  4.44214  4.63929
1993-09-17  3.49132  3.55253   3.7851   4.0198  4.37418  4.46429  4.66143
1993-09-20  3.49385  3.57055  3.81327  4.05735  4.42593   4.5102  4.69796

                ED8      ED9     ED10   ...        ED12     ED13     ED14  \
Date                                    ...
1993-09-14  5.13154  5.18736  5.33011   ...     5.66989  5.67044  5.78341
1993-09-15  4.82011  5.10407   5.1578   ...     5.41637  5.65209     5.66
1993-09-16  4.82209  5.10725  5.15824   ...     5.42758  5.66473     5.67
1993-09-17   4.8344  5.12044  5.16868   ...     5.43879  5.67736     5.68
1993-09-20     4.86     5.15     5.19   ...     5.46527      5.7  5.70132

               ED15     ED16     ED17     ED18     ED19     ED20     ED21
Date
1993-09-14  5.85692  6.04374  6.02099  6.08692  6.11901  6.27648     6.28
1993-09-15  5.77604  5.84846  6.03582  6.01099  6.07846  6.10967  6.26824
1993-09-16  5.78736  5.85923   6.0578  6.03066  6.09923     6.13      6.3
1993-09-17  5.79868     5.87     6.07  6.04033     6.11  6.14187     6.31
1993-09-20  5.82154  5.89659  6.08901  6.06154  6.13132  6.17747     6.34

[5 rows x 21 columns]